/*
Syntax error: Invalid CSS after "red": expected expression (e.g. 1px, bold), was ";"
        on line 3 of /workspace/github/StefanLiebenberg/stefanliebenberg.github.com/_sass/colours.sass

1: /workspace/github/StefanLiebenberg/stefanliebenberg.github.com/_sass/colours.sass

Backtrace:
/workspace/github/StefanLiebenberg/stefanliebenberg.github.com/_sass/colours.sass:3
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:1147:in `expected'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/script/lexer.rb:206:in `expected!'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:493:in `assert_done'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:50:in `parse'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:166:in `parse'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/script.rb:31:in `parse'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:882:in `parse_script'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:608:in `parse_property'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:597:in `parse_property_or_rule'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:578:in `parse_line'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:471:in `build_tree'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:490:in `block in append_children'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:489:in `each'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:489:in `append_children'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:480:in `block in build_tree'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:473:in `each'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:473:in `build_tree'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:490:in `block in append_children'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:489:in `each'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:489:in `append_children'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:345:in `_to_tree'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/compiler.rb:138:in `block in compile'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/logger.rb:45:in `red'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/compiler.rb:137:in `compile'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `each'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `block in run'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/compiler.rb:100:in `run'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:30:in `block in temporary_multipath_handler'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:17:in `block (2 levels) in run'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `block in run'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/rb-fsevent-0.9.4/lib/rb-fsevent/fsevent.rb:45:in `call'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/rb-fsevent-0.9.4/lib/rb-fsevent/fsevent.rb:45:in `run'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/commands/base.rb:18:in `execute'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/commands/project_base.rb:19:in `execute'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/bin/compass:30:in `block in <top (required)>'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/bin/compass:44:in `call'
/Users/stefan/.rvm/gems/ruby-2.1.0/gems/compass-0.12.6/bin/compass:44:in `<top (required)>'
/Users/stefan/.rvm/gems/ruby-2.1.0/bin/compass:23:in `load'
/Users/stefan/.rvm/gems/ruby-2.1.0/bin/compass:23:in `<main>'
/Users/stefan/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/Users/stefan/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"red\": expected expression (e.g. 1px, bold), was \";\"\A         on line 3 of /workspace/github/StefanLiebenberg/stefanliebenberg.github.com/_sass/colours.sass\A \A 1: /workspace/github/StefanLiebenberg/stefanliebenberg.github.com/_sass/colours.sass"; }
