/* line 3, ../_sass/layout.scss */
body, html {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
}
/* line 11, ../_sass/layout.scss */
body .heading, html .heading {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  padding: 20px;
  height: 30px;
}
/* line 21, ../_sass/layout.scss */
body .main, html .main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  overflow: auto;
}
/* line 28, ../_sass/layout.scss */
body .main .sidebar, html .main .sidebar {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  width: 300px;
  padding: 10px;
  margin-left: 10px;
}
/* line 33, ../_sass/layout.scss */
body .main .sidebar ul, html .main .sidebar ul {
  list-style-type: none;
  padding-left: 5px;
  margin-left: 0;
}
/* line 38, ../_sass/layout.scss */
body .main .sidebar ul li, html .main .sidebar ul li {
  margin-top: 4px;
  margin-bottom: 10px;
  vertical-align: middle;
}
/* line 42, ../_sass/layout.scss */
body .main .sidebar ul li img, html .main .sidebar ul li img {
  vertical-align: middle;
  margin-right: 2px;
  margin-left: 2px;
}
/* line 50, ../_sass/layout.scss */
body .main .sidebar span.date, html .main .sidebar span.date {
  font-size: 8px;
  margin: 0;
  margin-botton: 2px;
  display: block;
}
/* line 59, ../_sass/layout.scss */
body .main .content, html .main .content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  padding: 10px;
}
/* line 64, ../_sass/layout.scss */
body .main .content .post-content p, body .main .content .post-content div, html .main .content .post-content p, html .main .content .post-content div {
  margin: 10px;
}
/* line 68, ../_sass/layout.scss */
body .main .content .post-content div.highlight, body .main .content .post-content, html .main .content .post-content div.highlight, html .main .content .post-content {
  max-width: 800px;
}
/* line 74, ../_sass/layout.scss */
body .footer, html .footer {
  text-align: center;
  padding: 5px;
}
