<div class="profiles">
    <b>Profiles</b>
    <ul>
        <li><a href="https://github.com/StefanLiebenberg"><img src="https://github.com/favicon.ico" width="12px"/>GitHub</a></li>
        <li><a href="https://www.linkedin.com/profile/view?id=68572586"><img src="https://linkedin.com/favicon.ico" width="12px"/>LinkedIn</a></li>
        <li><a href="https://careers.stackoverflow.com/stefanliebenberg"><img src="https://stackoverflow.com/favicon.ico" width="12px"/>StackOverflow</a></li>
    </ul>
</div>
