@import "compass/css3/box";

body, html {

  height: 100%;
  width: 100%;

  @include display-box();
  @include box-orient(vertical);

  .heading {
    @include box-flex(0);
    padding: 20px;
    height: 30px;

    a {

    }
  }

  .main {
    @include box-flex(1);
    @include display-box();
    @include box-orient(horizontal);

    overflow: auto;

    .sidebar {
      @include box-flex(0);
      width: 300px;
      padding: 10px;
      margin-left: 10px;
      ul {
        list-style-type: none;
        padding-left: 5px;
        margin-left: 0;

        li {
          margin-top: 4px;
          margin-bottom: 10px;
          vertical-align: middle;
          img {
            vertical-align: middle;
            margin-right: 2px;
            margin-left: 2px;

          }
        }
      }
      span.date {
        font-size: 8px;
        margin: 0;
        margin-botton: 2px;
        display: block;
      }

    }

    .content {
      @include box-flex(1);
      padding: 10px;

      .post-content {
        p, div {
          margin: 10px;
        }

        div.highlight, & {
          max-width: 800px;
        }
      }
    }
  }
  .footer {
    text-align: center;
    padding: 5px;
  }
}


