@import "compass/css3/box";

body, html {

  height: 100%;

  @include display-box();
  @include box-orient(vertical);

  .heading {
    @include box-flex(0);
    padding: 20px;
    height: 60px;

    a {
      text-decoration: none;
    }
  }

  .main {
    @include box-flex(1);
    @include display-box();
    @include box-orient(horizontal);

    overflow: auto;

    .sidebar {
      @include box-flex(0);
      width: 200px;
      padding: 10px;
      margin-left: 100px;
      ul {
        list-style-type: none;
      }
      a {
        text-decoration: none;
        color: maroon;
      }
    }

    .content {
      @include box-flex(1);
      padding: 10px;


      .post-content {

        p, div {
          margin: 10px;
        }

        div.highlight, & {
          max-width: 800px;
        }
      }

    }
  }
  .footer {
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    text-align: center;
    padding: 5px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;

    a {

      &, &:visited {
        color: silver;
      }

      &:hover {
        color: white;
      }
    }
  }
}


