<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang='en' >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ page.title }}</title>
        <link media='screen' rel='stylesheet' href='/stylesheets/ie.css' />
        <link media='print'  rel='stylesheet' href='/stylesheets/print.css' />
        <link media='screen' rel='stylesheet' href='/stylesheets/screen.css' />
        <link media='screen' rel='stylesheet' href='/stylesheets/style.css' />
        <link media='screen' rel='stylesheet' href='/stylesheets/syntax.css' />
        <script type="text/javascript">  
          var disqus_developer = false;
        </script> 
    </head>
    <body>
      <div class='status-bar'>
        <a href='mailto:stefan@artspace44.com'>contact me</a>
      </div>
    
        <div class="container">
            <div class='heading last'>
              <h1><a href='/' alt='Home'>Stefan Liebenberg</a></h1>
              <h2>Software Developer</h2>
            </div>
    
    
     <br />
     <hr />
     <!--
            <div id='menu'>
              <hr />
              <a href="/">Home</a>&nbsp;
              <a href="/blog">Blog</a>
              <hr />
            </div>
      -->
            <div class='span-15'>
              <div class='content span-10'>
                {{ content }}
              </div>

              <div class='sidebar span-5 last' >
                
                <div>
                <form method="get" action="http://www.google.com/search">
<input type="text"   name="q" size="31" maxlength="255" value="" />
<input type="submit" value="Search with Google" />
<input type="hidden"  name="sitesearch" value="http://blog.pixi.railsplayground.net" />
</form><br />
                </div>
                <div>
                <b>Projects:</b>
                <ul>
                  <li><a href='http://jstour.artspace44.com'>Jspano</a></li>
                  <li><a href='http://artspace44.com'>Artspace44.com</a></li>
                  <li><a href='http://gardenchem.co.za'>Garden Chem</a></li>
                </ul>
                </div>
                
                <div class='span-4 imagebox'>
                  <img  src='/images/self.jpg'  width=150px />
                </div>
                
                <b>Things I mess with:</b>
                <div style='text-align:justify'>
                  <ul class='cloud'>
                    <li class='t3'>Ruby</li>
                    <li class='t1'>C++</li>
                    <li class='t2'>XML</li>
                    <li class='t3'>Javascript</li>
                    <li class='t2'>bash/sh</li>
                    <li class='t3'>HTML</li>
                    <li class='t2'>Archlinux</li>
                    <li class='t2'>XHTML</li>
                    <li class='t3'>Ruby on Rails</li>
                    <li class='t2'>jQuery</li>
                    <li class='t1'>GIMP</li>
                    <li class='t2'>Emacs</li>
                    <li class='t3'>Open Office</li>
                    <li class='t2'>Jekyll</li>
                  </ul>
                </div>
                
                <div>
                  <b>Blog Todo List:</b>
                  <ul>
                    <li><strike>Add one blog post to Home Page</strike></li>
                    <li>Add comments functionality</li>
                    <li>Add more items on the todo list</li>
                    <li>Add search button</li>
                  </ul>
                </div>
                

                <div>
                  <b>Related Links</b>
                  <ul>
                    <li><a href='http://artspace44.com'>Bani van der Merwe, Photographer</a></li>
                    <li><a href='http://rails.co.za'>Gustav Paul, Web Developer</a></li>
                  </ul>
                </div>
                
              </div>
            </div>
            
            <div id='footer'>
              <hr />
              
              <!--
              <a href="http://validator.w3.org/check?uri=referer">
                <img src="/images/valid.png" alt="Valid XHTML 1.0 Transitional" height="31" width="88" />
              </a>
              -->
              <i>designed by <a href='/'>Stefan Liebenberg</a></i>
              <br />
              <b><small>Last updated on {{ site.time | date_to_string }}</small></b>
            </div>
            
        </div>
    </body>
</html>

